In [1]:
import pandas as pd
import numpy as np

In [2]:
!pwd

/home/vishy/Desktop/Myfiles/Kaggle/RSNA_PE

In [2]:
from pandas_ui import *

In [3]:
PATH = "/home/vishy/Desktop/Myfiles/Kaggle/RSNA_PE/"
train_df = pd.read_csv(PATH+"inputs/train.csv")
test_df = pd.read_csv(PATH+"inputs/test.csv")
sub = pd.read_csv(PATH+"inputs/sample_submission.csv")
print(train_df.shape, test_df.shape, sub.shape)

(1790594, 17) (146853, 3) (152703, 2)

In [4]:
train_df.head()

,StudyInstanceUID,SeriesInstanceUID,SOPInstanceUID,pe_present_on_image,negative_exam_for_pe,qa_motion,qa_contrast,flow_artifact,rv_lv_ratio_gte_1,rv_lv_ratio_lt_1,leftsided_pe,chronic_pe,true_filling_defect_not_pe,rightsided_pe,acute_and_chronic_pe,central_pe,indeterminate
0,6897fa9de148,2bfbb7fd2e8b,c0f3cb036d06,0,0,0,0,0,0,1,1,0,0,1,0,0,0
1,6897fa9de148,2bfbb7fd2e8b,f57ffd3883b6,0,0,0,0,0,0,1,1,0,0,1,0,0,0
2,6897fa9de148,2bfbb7fd2e8b,41220fda34a3,0,0,0,0,0,0,1,1,0,0,1,0,0,0
3,6897fa9de148,2bfbb7fd2e8b,13b685b4b14f,0,0,0,0,0,0,1,1,0,0,1,0,0,0
4,6897fa9de148,2bfbb7fd2e8b,be0b7524ffb4,0,0,0,0,0,0,1,1,0,0,1,0,0,0

In [6]:
print("Number of unique Study instanceID in train is", train_df.StudyInstanceUID.nunique())
print("Number of unique Series instanceID in train is", train_df.SeriesInstanceUID.nunique())
print("Number of unique SOP instanceID in train is", train_df.SOPInstanceUID.nunique())

Number of unique Study instanceID in train is 7279
Number of unique Series instanceID in train is 7279
Number of unique SOP instanceID in train is 1790594

In [17]:
test_df.head()

  StudyInstanceUID SeriesInstanceUID SOPInstanceUID
0     df06fad17bc3      857e3d760445   c3163725fcf6
1     df06fad17bc3      857e3d760445   d54a8daaf836
2     df06fad17bc3      857e3d760445   bdc531b699cd
3     df06fad17bc3      857e3d760445   9e6a68e27df0
4     df06fad17bc3      857e3d760445   25e3307ba7da

In [10]:
print("Number of unique Study instanceID in test is", test_df.StudyInstanceUID.nunique())
print("Number of unique Series instanceID in test is", test_df.SeriesInstanceUID.nunique())
print("Number of unique Study instanceID in test is", test_df.SOPInstanceUID.nunique())

Number of unique Study instanceID in test is 650
Number of unique Series instanceID in test is 650
Number of unique Study instanceID in test is 146853

In [11]:
sub.head()

                                  id  label
0  df06fad17bc3_negative_exam_for_pe    0.5
1  c8039e7f9e63_negative_exam_for_pe    0.5
2  761f6f1a9f5b_negative_exam_for_pe    0.5
3  c8db5b1f6b56_negative_exam_for_pe    0.5
4  462e805da1f1_negative_exam_for_pe    0.5

In [12]:
sub1 = sub.head(5850)

In [13]:
sub1.tail()

                              id  label
5845  66fb5816ac72_indeterminate    0.5
5846  4ec6107512ec_indeterminate    0.5
5847  1c30b47fddbe_indeterminate    0.5
5848  daa9f40349cf_indeterminate    0.5
5849  84a57a6bc1b4_indeterminate    0.5

In [14]:
sub1["id1"] = sub1["id"].apply(lambda x: x.split("_",1)[0])
sub1["type"] = sub1["id"].apply(lambda x: x.split("_",1)[1])

In [15]:
sub1.head()

,id,label,id1,type
0,df06fad17bc3_negative_exam_for_pe,0.5,df06fad17bc3,negative_exam_for_pe
1,c8039e7f9e63_negative_exam_for_pe,0.5,c8039e7f9e63,negative_exam_for_pe
2,761f6f1a9f5b_negative_exam_for_pe,0.5,761f6f1a9f5b,negative_exam_for_pe
3,c8db5b1f6b56_negative_exam_for_pe,0.5,c8db5b1f6b56,negative_exam_for_pe
4,462e805da1f1_negative_exam_for_pe,0.5,462e805da1f1,negative_exam_for_pe

In [16]:
print("Unique predictions at Study ID are:",sub1.type.unique())
print("Number of unique predictions at Study ID are:",len(sub1.type.unique()))
print("Number of unique studies are:", sub1.id1.nunique())

Unique predictions at Study ID are: ['negative_exam_for_pe' 'rv_lv_ratio_gte_1' 'rv_lv_ratio_lt_1'
 'leftsided_pe' 'chronic_pe' 'rightsided_pe' 'acute_and_chronic_pe'
 'central_pe' 'indeterminate']
Number of unique predictions at Study ID are: 9
Number of unique studies are: 650

In [26]:
train_df[train_df["StudyInstanceUID"] == "6897fa9de148"].pe_present_on_image.value_counts()

0    82
1    42
Name: pe_present_on_image, dtype: int64